Nodes/keypad_flow.txt
[{"id":"4db9b02f.b2465","type":"mqtt-broker","z":"ffbb2171.0044e","broker":"192.168.1.125","port":"1883","clientid":"","usetls":false,"verifyservercert":true,"compatmode":true,"keepalive":"15","cleansession":true,"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":""},{"id":"c6ad828b.39528","type":"debug","z":"ffbb2171.0044e","name":"","active":false,"console":"false","complete":"false","x":1096,"y":527,"wires":[]},{"id":"77258982.88da78","type":"function","z":"ffbb2171.0044e","name":"Key match checker","func":"context.global.keyEntry.push(msg.payload.toString());\nnode.warn(context.global.keyEntry.length);\n    node.warn(\"String is: \" + context.global.keyEntry.join(\"\"));\nif (context.global.keyEntry.length == 4) {\n    node.warn(\"Got 4 characters - Does it match?\");\n    node.warn(\"String is: \" + context.global.keyEntry.join(\"\"));\n\tif (context.global.keyEntry.join(\"\") == \"1234\") {\n\tnode.warn(\"Matched password! Open sesame!\");\n    var newMsg = { payload: \"open\" };\n    context.global.keyEntry = [];\n    return newMsg;\n\t}\n\telse {\n\tcontext.global.keyEntry = [];\n\t\tnode.warn(\"Nope doesn't match.\");\n\t}\n}\nif (context.global.keyEntry.length > 4){\n    \tcontext.global.keyEntry = [];\n}","outputs":1,"noerr":0,"x":782,"y":392,"wires":[["922d9d7c.6dd26","c6ad828b.39528"]]},{"id":"f0e92911.0f16d8","type":"mqtt in","z":"ffbb2171.0044e","name":"Keypad 2","topic":"keypad/2","broker":"4db9b02f.b2465","x":539,"y":313,"wires":[["77258982.88da78","370274a.fc8fd8c"]]},{"id":"922d9d7c.6dd26","type":"mqtt out","z":"ffbb2171.0044e","name":"RelayIn 1","topic":"relayIn/1","qos":"","retain":"","broker":"4db9b02f.b2465","x":1149,"y":392,"wires":[]},{"id":"370274a.fc8fd8c","type":"debug","z":"ffbb2171.0044e","name":"","active":false,"console":"false","complete":"false","x":762,"y":262,"wires":[]},{"id":"4844b6e6.b7bb48","type":"inject","z":"ffbb2171.0044e","name":"","topic":"","payload":"open","payloadType":"str","repeat":"","crontab":"","once":false,"x":974,"y":299,"wires":[["922d9d7c.6dd26"]]}]