Nodes/node_red_backup_with_lock.txt
[{"id":"4db9b02f.b2465","type":"mqtt-broker","z":"ffbb2171.0044e","broker":"192.168.1.125","port":"1883","clientid":"","usetls":false,"verifyservercert":true,"compatmode":true,"keepalive":"15","cleansession":true,"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":""},{"id":"2e0f8a49.d1f076","type":"function","z":"ffbb2171.0044e","name":"","func":"if (msg.payload == \"motion\"){\nmsg.payload = 100;\n}\n\nif (msg.payload == \"no motion\") {\nmsg.payload = 0;\n}\nreturn msg;","outputs":1,"noerr":0,"x":383,"y":1100,"wires":[[]]},{"id":"4115488b.beeab8","type":"mqtt in","z":"ffbb2171.0044e","name":"Bench Ultrasonic","topic":"ultrasonic/1","broker":"4db9b02f.b2465","x":128,"y":69,"wires":[["943f1c33.6bc0e"]]},{"id":"943f1c33.6bc0e","type":"debug","z":"ffbb2171.0044e","name":"","active":false,"console":"false","complete":"false","x":392,"y":63,"wires":[]},{"id":"10c931cd.ef36ce","type":"mqtt in","z":"ffbb2171.0044e","name":"Bench Knob","topic":"knob/1","broker":"4db9b02f.b2465","x":118.99999618530273,"y":171.99999511241913,"wires":[["2678f7f8.d98708","ec31b8d4.13ce48"]]},{"id":"2678f7f8.d98708","type":"debug","z":"ffbb2171.0044e","name":"","active":false,"console":"false","complete":"false","x":400,"y":141,"wires":[]},{"id":"a6515d69.59aea","type":"mqtt in","z":"ffbb2171.0044e","name":"Desk Ultrasonic","topic":"ultrasonic/3","broker":"4db9b02f.b2465","x":156,"y":297.8571472167969,"wires":[["b8d1a69.f472e58","3e4a3ee3.c1b5c2"]]},{"id":"b8d1a69.f472e58","type":"debug","z":"ffbb2171.0044e","name":"","active":false,"console":"false","complete":"false","x":397,"y":260,"wires":[]},{"id":"1b0d19c2.e4f2e6","type":"mqtt in","z":"ffbb2171.0044e","name":"Door accelerometer","topic":"accel/1","broker":"4db9b02f.b2465","x":152.14285278320312,"y":376.1428508758545,"wires":[["2bb307ac.d44cf8"]]},{"id":"2bb307ac.d44cf8","type":"debug","z":"ffbb2171.0044e","name":"","active":false,"console":"false","complete":"false","x":407,"y":373,"wires":[]},{"id":"17ad3c48.e852c4","type":"mqtt in","z":"ffbb2171.0044e","name":"Virtual Ultrasonic 1","topic":"v_ultrasonic1","broker":"4db9b02f.b2465","x":124.28571701049805,"y":489.99999618530273,"wires":[["dc0d8610.23f278"]]},{"id":"dc0d8610.23f278","type":"debug","z":"ffbb2171.0044e","name":"","active":false,"console":"false","complete":"false","x":425.71428298950195,"y":472.1428565979004,"wires":[]},{"id":"2ff77f99.d0088","type":"Hue Pull","z":"ffbb2171.0044e","deviceid":"8","serverid":"001788fffe0a5411","name":"Unity Demo 1","x":141,"y":622,"wires":[["4f744295.b08bbc"],[]]},{"id":"4f744295.b08bbc","type":"debug","z":"ffbb2171.0044e","name":"debug","active":false,"console":"true","complete":"true","x":573,"y":738,"wires":[]},{"id":"cce6b043.33195","type":"osc in","z":"ffbb2171.0044e","name":"osc","addr":"192.168.1.125","port":"8000","x":134,"y":740,"wires":[["300b100f.cff4f"]]},{"id":"300b100f.cff4f","type":"debug","z":"ffbb2171.0044e","name":"","active":false,"console":"false","complete":"false","x":399,"y":779,"wires":[]},{"id":"ec31b8d4.13ce48","type":"mqtt out","z":"ffbb2171.0044e","name":"Neopixel Ring Output","topic":"neopixel_ring/1","qos":"0","retain":"","broker":"4db9b02f.b2465","x":384,"y":197,"wires":[]},{"id":"19008d4c.e6ff73","type":"mqtt out","z":"ffbb2171.0044e","name":"Servo 1","topic":"servo/1","qos":"","retain":"","broker":"4db9b02f.b2465","x":866.514892578125,"y":1162.540771484375,"wires":[]},{"id":"f0e92911.0f16d8","type":"mqtt in","z":"ffbb2171.0044e","name":"Keypad 2","topic":"keypad/2","broker":"4db9b02f.b2465","x":539,"y":313,"wires":[["77258982.88da78","370274a.fc8fd8c"]]},{"id":"77258982.88da78","type":"function","z":"ffbb2171.0044e","name":"Key match checker","func":"context.global.keyEntry.push(msg.payload.toString());\nnode.warn(context.global.keyEntry.length);\n    node.warn(\"String is: \" + context.global.keyEntry.join(\"\"));\nif (context.global.keyEntry.length == 4) {\n    node.warn(\"Got 4 characters - Does it match?\");\n    node.warn(\"String is: \" + context.global.keyEntry.join(\"\"));\n\tif (context.global.keyEntry.join(\"\") == \"1234\") {\n\tnode.warn(\"Matched password! Open sesame!\");\n    var newMsg = { payload: \"open\" };\n    context.global.keyEntry = [];\n    return newMsg;\n\t}\n\telse {\n\tcontext.global.keyEntry = [];\n\t\tnode.warn(\"Nope doesn't match.\");\n\t}\n}\nif (context.global.keyEntry.length > 4){\n    \tcontext.global.keyEntry = [];\n}","outputs":1,"noerr":0,"x":782,"y":392,"wires":[["922d9d7c.6dd26","c6ad828b.39528"]]},{"id":"922d9d7c.6dd26","type":"mqtt out","z":"ffbb2171.0044e","name":"RelayIn 1","topic":"relayIn/1","qos":"","retain":"","broker":"4db9b02f.b2465","x":1149,"y":392,"wires":[]},{"id":"c6ad828b.39528","type":"debug","z":"ffbb2171.0044e","name":"","active":false,"console":"false","complete":"false","x":1096,"y":527,"wires":[]},{"id":"8b87dc6a.74782","type":"mqtt in","z":"ffbb2171.0044e","name":"PIR 1","topic":"pir/1","broker":"4db9b02f.b2465","x":172,"y":1098,"wires":[["2e0f8a49.d1f076"]]},{"id":"f7162a8.f08e9d8","type":"debug","z":"ffbb2171.0044e","name":"","active":true,"console":"false","complete":"false","x":892,"y":1068,"wires":[]},{"id":"15cd5c15.ea32a4","type":"Hue Set","z":"ffbb2171.0044e","deviceid":"6","serverid":"001788fffe0a5411","name":"Deskstrip","x":1332,"y":955,"wires":[[],[]]},{"id":"9c37d59f.63c828","type":"function","z":"ffbb2171.0044e","name":"if motion","func":"if (msg.payload==\"motion\"){\nmsg.payload={\n\t\t\t\"on\":[true],\n\t\t\t\"transitiontime\":[0],\n\t\t\t\"bri\":[1],\n\t\t\t\"rgb\":[75,75,255]\n\t\t}\n}\n\nif (msg.payload == \"no motion\") {\n    msg.payload={\n\t\t\t\"on\":[false],\n\t\t\t\"transitiontime\":[0],\n\t\t\t\"bri\":[1],\n\t\t\t\"rgb\":[75,75,255]\n\t\t}\n}\nreturn msg;","outputs":1,"noerr":0,"x":947,"y":942,"wires":[[]]},{"id":"a8281ae9.57d7e8","type":"debug","z":"ffbb2171.0044e","name":"","active":false,"console":"false","complete":"false","x":1280,"y":748,"wires":[]},{"id":"3e4a3ee3.c1b5c2","type":"function","z":"ffbb2171.0044e","name":"if in front of ultrasonic","func":"if (msg.payload <= 50){\nmsg.payload={\n\t\t\t\"on\":[true],\n\t\t\t\"transitiontime\":[5],\n\t\t\t\"bri\":[100],\n\t\t\t\"rgb\":[0,255,0]\n\t\t}\n}\nif (msg.payload > 50) {\n    msg.payload={\n\t\t\t\"on\":[true],\n\t\t\t\"transitiontime\":[5],\n\t\t\t\"bri\":[100],\n\t\t\t\"rgb\":[255,0,0]\n\t\t}\n}\nreturn msg;","outputs":1,"noerr":0,"x":944,"y":733,"wires":[["15cd5c15.ea32a4","a8281ae9.57d7e8"]]},{"id":"50b17c7b.af4e84","type":"mqtt in","z":"ffbb2171.0044e","name":"RFID","topic":"rfid/1","broker":"4db9b02f.b2465","x":251,"y":1254,"wires":[["559ec33f.aa613c","1417cb0f.ebe835","f804e0b5.07fb2"]]},{"id":"559ec33f.aa613c","type":"function","z":"ffbb2171.0044e","name":"Check RFID Tag - Colors","func":"if (msg.payload == \"2111178995\"){\nmsg.payload={\n\t\t\t\"opcode\": \"6\"\n\t\t}\n}\nif (msg.payload == \"3990620403\") {\n    msg.payload={\n\t\t\t\"opcode\":\"7\"\n\t\t}\n}\nif (msg.payload == \"1306200307\") {\n    msg.payload={\n\t\t\t\"opcode\": \"8\"\n\t\t}\n}\n\nreturn msg;\n","outputs":"1","noerr":0,"x":745,"y":1254,"wires":[["2ce50b5c.d31af4","1c5034b2.e3afcb","fc3cb152.03c35"]]},{"id":"1417cb0f.ebe835","type":"debug","z":"ffbb2171.0044e","name":"","active":false,"console":"false","complete":"false","x":627,"y":1401,"wires":[]},{"id":"370274a.fc8fd8c","type":"debug","z":"ffbb2171.0044e","name":"","active":false,"console":"false","complete":"false","x":762,"y":262,"wires":[]},{"id":"31861d01.ce79e2","type":"function","z":"ffbb2171.0044e","name":"Keypad global variable","func":"context.global.keyEntry = [];\nreturn msg;","outputs":1,"noerr":0,"x":1261,"y":255,"wires":[[]]},{"id":"fd1fe52e.02e018","type":"inject","z":"ffbb2171.0044e","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"x":1071,"y":197,"wires":[["31861d01.ce79e2"]]},{"id":"4844b6e6.b7bb48","type":"inject","z":"ffbb2171.0044e","name":"","topic":"","payload":"open","payloadType":"str","repeat":"","crontab":"","once":false,"x":974,"y":299,"wires":[["922d9d7c.6dd26"]]},{"id":"a24bbc16.5db44","type":"osc out","z":"ffbb2171.0044e","name":"","addr":"192.168.1.112","port":"7000","path":"","x":1284,"y":1386,"wires":[]},{"id":"5b05fce2.a4fa04","type":"osc in","z":"ffbb2171.0044e","name":"OSC in from Resolume","addr":"192.168.1.125","port":"1880","x":625,"y":857,"wires":[["ad5b62ba.52a4a"]]},{"id":"ad5b62ba.52a4a","type":"debug","z":"ffbb2171.0044e","name":"","active":false,"console":"false","complete":"false","x":858,"y":993,"wires":[]},{"id":"2ce50b5c.d31af4","type":"debug","z":"ffbb2171.0044e","name":"","active":false,"console":"false","complete":"false","x":1138,"y":1241,"wires":[]},{"id":"f804e0b5.07fb2","type":"function","z":"ffbb2171.0044e","name":"Check RFID Tag - Video","func":"if (msg.payload == \"2111178995\"){\n    msg.topic = \"/layer3/clip1/connect/\",\n        msg.payload= \"\"\n}\nif (msg.payload == \"3990620403\") {\n        msg.topic = \"/layer3/clip2/connect/\",\n        msg.payload= \"\"\n}\nif (msg.payload == \"1306200307\") {\n    msg.topic = \"/layer3/clip1/connect/\",\n        msg.payload= \"\"\n}\n\n\nreturn msg;\n","outputs":1,"noerr":0,"x":743,"y":1322,"wires":[["a24bbc16.5db44","b61100a5.49ef","c8f57fe4.370a8"]]},{"id":"b61100a5.49ef","type":"debug","z":"ffbb2171.0044e","name":"","active":false,"console":"false","complete":"false","x":1139,"y":1311,"wires":[]},{"id":"2589926f.da766e","type":"inject","z":"ffbb2171.0044e","name":"","topic":"/layer3/clip1/connect/","payload":"","payloadType":"string","repeat":"","crontab":"","once":false,"x":957,"y":1430,"wires":[["a24bbc16.5db44","c8f57fe4.370a8"]]},{"id":"c8f57fe4.370a8","type":"debug","z":"ffbb2171.0044e","name":"","active":true,"console":"false","complete":"true","x":1268,"y":1448,"wires":[]},{"id":"528b6ad3.ad7494","type":"mqtt in","z":"ffbb2171.0044e","name":"Button 1","topic":"button/1","broker":"4db9b02f.b2465","x":137,"y":854,"wires":[["a940e0b4.56bf2","5035a616.afca58"]]},{"id":"a940e0b4.56bf2","type":"debug","z":"ffbb2171.0044e","name":"","active":true,"console":"false","complete":"false","x":346,"y":865,"wires":[]},{"id":"5035a616.afca58","type":"function","z":"ffbb2171.0044e","name":"Button Pressed?","func":"if (msg.payload == \"Button Pressed\"){\nmsg.payload = 100;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":239,"y":1006,"wires":[["19008d4c.e6ff73","9f0d1d8a.60f2e"]]},{"id":"f2856d9d.0d7a9","type":"inject","z":"ffbb2171.0044e","name":"","topic":"","payload":"0","payloadType":"string","repeat":"","crontab":"","once":false,"x":494,"y":940,"wires":[["19008d4c.e6ff73"]]},{"id":"9f0d1d8a.60f2e","type":"delay","z":"ffbb2171.0044e","name":"Delay 5 seconds","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":495,"y":988,"wires":[["1156444a.eea9bc"]]},{"id":"1156444a.eea9bc","type":"function","z":"ffbb2171.0044e","name":"","func":"msg.payload = 0;\nreturn msg;","outputs":1,"noerr":0,"x":676,"y":1049,"wires":[["19008d4c.e6ff73","f7162a8.f08e9d8"]]},{"id":"1c5034b2.e3afcb","type":"mqtt out","z":"ffbb2171.0044e","name":"Unicorn Hat","topic":"pi/uhcontrol","qos":"","retain":"","broker":"4db9b02f.b2465","x":1334,"y":1153,"wires":[]},{"id":"5958c4e0.a6a73c","type":"inject","z":"ffbb2171.0044e","name":"","topic":"pi/uhcontrol","payload":"{\"opcode\": \"40\"}","payloadType":"string","repeat":"","crontab":"","once":false,"x":1102,"y":1115,"wires":[[]]},{"id":"fc3cb152.03c35","type":"mqtt out","z":"ffbb2171.0044e","name":"Launchpad 1","topic":"launchpad/1","qos":"","retain":"","broker":"4db9b02f.b2465","x":1117,"y":1589,"wires":[]},{"id":"fc495433.03b6a8","type":"inject","z":"ffbb2171.0044e","name":"","topic":"launchpad/1","payload":"5","payloadType":"string","repeat":"","crontab":"","once":false,"x":863,"y":1566,"wires":[["fc3cb152.03c35"]]},{"id":"8b000dad.79b13","type":"inject","z":"ffbb2171.0044e","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":59,"y":938,"wires":[["5035a616.afca58"]]}]